body {
	width: 100%;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background: repeat#feac5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#feac5e,
		#c779d0,
		#4bc0c8
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#feac5e,
		#c779d0,
		#4bc0c8
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hello_flex {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
  margin-left: 80px;
}

.hello_cards {
	width: 250px;
	padding: 50px;
}

.hello_cards:hover {
	transform: scale(1.1);
	color: #2b3039;
}
